nltk~=3.7
torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1
pika==1.3.2
git+https://github.com/TartuNLP/fairseq.git@mtee-0.1.0
sentencepiece==0.2.0
pydantic<2.0.0
numpy<1.24.0
mosestokenizer==1.2.1
stanza~=1.8.1
jamspell~=0.0.12